/* 
 * Estiliza o corpo da página.
 */
 body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão para o corpo */
    background-image: url("imagens/background.jpg"); /* Aplica a imagem como fundo */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-size: cover; /* Escala a imagem para cobrir toda a área */
    background-attachment: fixed; /* Fixa a imagem de fundo */
  
    display: flex; /* Utiliza o modelo de layout Flexbox */
    flex-direction: column; /* Organiza os elementos em uma coluna */
    align-items: center; /* Alinha os itens horizontalmente no centro */
    justify-content: flex-start; /* Alinha os itens verticalmente no início */
    height: 100vh; /* Define a altura do corpo como 100% da viewport */
    margin: 0; /* Remove as margens padrão */
    padding: 5; /* Remove o padding padrão */
  }
  
  
  /* 
   * Estiliza os títulos h1 
   */
  h1 {
    font-size:300%; /* Tamanho da fonte */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*estilo de fontes*/
    color: #eb9f9f; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    letter-spacing: 0.2rem; /* Espaçamento entre letras */
    
  }
  
  /* 
   * Estiliza a seção de instruções
   */
  .instrucao {
    background-color: #510707b6;
    padding: 15px;
    text-align: justify;
    border-radius: 15px;
    width: 50%; /* Defina a largura desejada para a div */
    margin:auto; /* Define margens superior e inferior como 0 e margens esquerda e direita como "auto" para centralizar horizontalmente */
  }
  
  /* 
   * Estiliza os títulos h3 dentro da seção de instruções
   */
  .instrucao h3 {
    text-align: center;
    color: #fe5858;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    font-style: normal;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0); /* Contorno para WebKit (Chrome, Safari) */
  }
  
  /* 
   * Estiliza os títulos h4 dentro da seção de instruções
   */
  .instrucao h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: small;
    text-align: center;
    color: #f7bcbc;
    margin-bottom: 5px;
  }
  
  /* 
   * Estilizando o container da busca 
   */
  .area_pesquisa {
    background-color: rgba(242, 174, 174, 0.683); /* Branco com 90% de opacidade */
    padding: 5px;
    border-radius: 15px;
    position: center;
    text-align: center;
    margin:auto;
    width: 50%;
    height: 70px;
    display: flex; /* Transforma o footer em um container flexbox */
    justify-content: center; /* Centraliza o conteúdo verticalmente dentro do container flexbox */
    align-items: center; /* Centraliza o conteúdo verticalmente dentro do container flexbox */
  }
  
  /* 
   * Estilizando o input de busca 
   */
  input {
    width: auto;
    padding: 10px;
    font-size: xx-small;
    border: 2px solid #4a0e0e;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 0px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    
  }
  
  /* 
   * Estiliza o botão  
   */
  button {
    padding: 0.65rem 1.2rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 0.5rem; /* Borda arredondada */
    background-color: #800f0f; /* Cor de fundo do botão */
    color: #f9d7d7; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold;
    cursor: url("imagens/taca.png"), auto; /* Muda o cursor para indicar que é clicável */
    margin-left: 0px;
  }
  
  /* 
   * Adiciona efeito hover ao botão de pesquisa 
   */
  button:hover {
    background-color: #f3b1b1; /* Muda a cor de fundo ao passar o mouse */
    color: #6e0606;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
    transform: scale(1.05);
  }
  
  /* 
   * Estiliza a caixa de resultados da pesquisa 
   */
  .resultados-pesquisa {
    width: 80%; /* Largura máxima da caixa de resultados */
    height: auto; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    padding: 10%; /* Espaçamento interno */
    border-radius: 15px; /* Borda arredondada */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribui os itens com espaço entre eles */
    gap: 20px;
  }
  
  /* 
   * Estiliza cada item de resultado 
   */
  .item-resultado {
    background-color: rgba(240, 211, 211, 0.9); /* fundo com 90% de opacidade */
    max-width: 250px; /* Largura máxima da caixa*/
    height: auto;
    border-radius: 15px; /* Borda arredondada */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 222px;
    text-align: center;
    padding: 11px;
  }
  
  /* 
   * Estiliza as imagens dentro dos itens de resultado 
   */
  .item-resultado img {
    max-height: 200px;
  }
  
  /* 
   * Adiciona efeito hover aos itens de resultado 
   */
  .item-resultado:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  
  /* 
   * Estiliza os títulos dentro dos itens de resultado 
   */
  .item-resultado h2 {
    font-size:x-large; /* Tamanho da fonte */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic; /* Cor do texto */
    text-align: center;
    color: #bd0202;
    flex-wrap: wrap;
  }
  
  /* 
   * Estiliza os links dentro dos itens de resultado 
   */
  .item-resultado a {
    text-decoration: underline; /* Remove o sublinhado padrão dos links */
    color: #bd0202; /* Cor do texto dos links */
    text-align: center;
    font-size: small;
    flex-wrap: wrap;
  }
  
  /* 
   * Estiliza o texto dentro dos itens de resultado 
   */
  .item-resultado p {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #4d0404; /* Cor do texto dos links */
    text-align: center;
    font-size: small;
  }
  
  /* 
   * Estiliza os links quando são passados o mouse sobre 
   */
  .item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
    cursor: url("imagens/taca.png"), auto; /* Muda o cursor para indicar que é clicável */
  }
  
  /* 
   * Estiliza a descrição meta dentro dos itens de resultado 
   */
  .descricao-meta {
    color: #4a0707; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
  }
  
  /* 
   * Estiliza o rodapé da página 
   */
  footer {
    background-color: #6e0606; /* Cor de fundo do rodapé */
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 10px; /* Espaçamento interno */
    width: max-content; /* Largura total da página */
    position: relative; /* Posiciona o rodapé */
    bottom: 5px; /* Alinha ao fundo da página */
    font-size: 15px; /* Tamanho da fonte */
    font-style: italic;
    height: 40px; /* Defina a altura desejada para o rodapé */
    display: flex; /* Transforma o footer em um container flexbox */
    justify-content: center; /* Centraliza o conteúdo verticalmente dentro do container flexbox */
    align-items: center; /* Centraliza o conteúdo verticalmente dentro do container flexbox */
  }
  
  /* 
   * Estiliza a mensagem de pesquisa vazia
   */
  .pesquisa-vazia {
    color: #ffffff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    text-align: center;
    align-items: center;
    text-shadow: 20px;
  }
  
  /* Responsividade para telas menores */
@media (max-width: 768px) {
    h1 {
      font-size: 10%; /* Tamanho da fonte em telas menores */
      letter-spacing: 0.5rem; /* Espaçamento entre letras em telas menores */
    }
    h2 {
        word-wrap:break-word;
        overflow: hidden;
    }
  
    .instrucao {
      font-size:small;
    }
  
    .instrucao h3 {
      font-size:small;
    }
  
    .instrucao h4 {
      font-size: small;
    }
  
    .area_pesquisa {
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        padding: 30px 15px; /* Ajuste o padding para telas menores */
        
      
    }
  
    input {
      margin-bottom: 10px; /* Adiciona espaço entre o input e o botão */
      width: auto;
      padding: 5px 5px;
      font-size: xx-small;
    }

    .resultados-pesquisa {
        width: 200%; /* Ocupa 100% da largura da tela */
        flex-wrap: wrap; /* Permite que os itens quebrem a linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
      }
  
    .item-resultado {
        width: 100%; /* Ocupa 100% da largura da tela */
        box-sizing: border-box; /* Inclui padding e border na largura */
        flex-wrap: wrap;
        padding: 15px;
        font-size: small;
        
      
    }
  
    
  
    footer {
      font-size: 0.8rem;
    }
  }

   /* Responsividade para telas menores */
@media (max-width: 1221px) {
    body {
      background-repeat: no-repeat; /* Impede que a imagem se repita */
      background-size: cover; /* Escala a imagem para cobrir toda a área */
      background-attachment: fixed; /* Fixa a imagem de fundo */
    }


    h1 {
      font-size: 250%; /* Tamanho da fonte em telas menores */
      letter-spacing: 0.2rem; /* Espaçamento entre letras em telas menores */
    }
    h2 {
        word-wrap:break-word;
        overflow: hidden;
    }
  
    .instrucao {
      font-size:small;
    }
  
    .instrucao h3 {
      font-size:small;
    }
  
    .instrucao h4 {
      font-size: small;
    }
  
    .area_pesquisa {
        flex-direction: column; /* Organiza os elementos em coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
        justify-content: center; /* Centraliza os itens verticalmente */
        padding:25px; /* Ajuste o padding para telas menores */
        width: 300px;
        
      
    }
  
    input {
      font-size: xx-small;
      padding: 10px;
      margin-bottom: 10px; /* Adiciona espaço entre o input e o botão */
    }

    .resultados-pesquisa {
        width: 70%; /* Ocupa 100% da largura da tela */
        flex-wrap: wrap; /* Permite que os itens quebrem a linha */
        justify-content: center; /* Centraliza os itens horizontalmente */
        
        
      }
  
    .item-resultado {
        width: 100%; /* Ocupa 100% da largura da tela */
        box-sizing: border-box; /* Inclui padding e border na largura */
        flex-wrap: wrap;
        padding: 15px;
        font-size: small;
        
      
    }
  
    
  
    footer {
      font-size: 0.8rem;
    }
  }


  